{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<div class="item">
    <div class="product-item">
        {{ fields.display_name.content }}
        <div class="product-image">
           {{ fields.field_images.content }}
        </div>
        <div class="product-item-details">
            <div class="product-item-name" data-toggle="tooltip" data-placement="top" data-html="true" title="{{ row._entity.defaultVariation.title.value }}"> {{ fields.title.content }}</div>
            {% set types  = row._entity.fields.field_type.value %}
            <div class="picto2 owl-carousel">
            {% for type in types %}
                {% if type["target_id"]  == '32' %}
                    <img class="item" src="/{{ directory }}/assets/img/eau.webp" alt="" title="A l'eau">
                {% endif %}
                {% if type["target_id"] == '33' %}
                    <img class="item" src="/{{ directory }}/assets/img/huile.webp" alt="" title="A l'huile">
                {% endif %}
                {% if type["target_id"] == '45' %}
                    <img class="item" src="/{{ directory }}/assets/img/airless.webp" alt="" title="Airless">
                {% endif %}
                {% if type["target_id"] == '35' %}
                    <img class="item" src="/{{ directory }}/assets/img/interieur.webp" alt="" title="Intérieur">
                {% endif %}
                {% if type["target_id"] == '34' %}
                    <img class="item" src="/{{ directory }}/assets/img/exterieur.webp" alt="" title="Extérieur">
                {% endif %}
                {% if type["target_id"] == '41' %}
                    <img class="item" src="/{{ directory }}/assets/img/lavable.webp" alt="" title="Lavable">
                {% endif %}
                {% if type["target_id"] == '42' %}
                    <img class="item" src="/{{ directory }}/assets/img/machine-teinte.webp" title="Machine à teinter">
                {% endif %}
                {% if  type["target_id"] == '43' %}
                    <img class="item" src="/{{ directory }}/assets/img/resistant-fissure.webp" alt="" title="Résistant Fissure">
                {% endif %}
                {% if type["target_id"] == '44' %}
                    <img class="item" src="/{{ directory }}/assets/img/rouleau-brosse.webp" alt="" title="Rouleau & Brosse">
                {% endif %}
                {% if type["target_id"] == '78' %}
                    <img class="item" src="/{{ directory }}/assets/img/corrosif.webp" alt="" title="corrosif">
                {% endif %}
            {% endfor %}
            </div>
            <p> {{ fields.body.content }}</p>
            <div class="rating-summary-block">
            </div>
        </div>
    </div>
</div>